@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Peticion rechazada";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="row mt-3">
        <div class="col text-center">
            <h1 style="font-size: 8rem;">405</h1>
            Petición rechazada
        </div>
    </div>
</body>
</html>
