<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThemisWorkshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThemisWorkshop.styles.css" asp-append-version="true" />

    <style>
        footer {
            position: relative;
            z-index: 1;
        }

    </style>
</head>
<body>
    <div>
        <div class="d-flex flex-column flex-shrink-0 border-end align-items-center position-absolute top-0 start-0" style="width: 4rem; height: 100%;">
            <svg width="100%" height="100%"></svg>
        </div>

        <div class="d-flex flex-column flex-shrink-0 align-items-center position-absolute" style="width: 4rem;">
            <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                <img src="~/img/logo_icon.png" width="32" height="32"/>
            </a>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li>
                    <a href="#" class="nav-link py-3" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <img src="~/img/home_icon.png" width="32" height="32"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Cliente/ListarClientes" class="nav-link py-3" aria-current="page" title="Clientes" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        <!--<img src="~/img/selected/clients_icon.png" width="48" height="48"/>-->
                        <img src="~/img/clients_icon.png" width="32" height="32"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3" title="Citas" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <img src="~/img/calendar_icon.png" width="32" height="32"/>
                    </a>
                </li>
            </ul>
        </div>

        <div class="d-flex flex-column flex-shrink-0 align-items-center position-absolute bottom-0" style="width: 4rem; margin-bottom: 3.5rem;">
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li>
                    <a href="#" class="nav-link py-3" title="Configuración" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <img src="~/img/configuration_icon.png" width="32" height="32"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3" title="Usuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <img src="~/img/selected/user_icon.png" width="48" height="48" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ThemisWorkshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
