<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThemisWorkshop</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThemisWorkshop.styles.css" asp-append-version="true" />

    <style>
        /* Font */

        body {
            color: #323232 !important;
        }

        /* Buttons */

        .btn-positive {
            background-color: #323232;
            color: #FFFFFF !important;
            width: 8rem;
        }

        .btn-positive:hover {
            color: #323232 !important;
        }

        .btn-negative {
            border: none;
            outline-offset: -2px;
            outline: 2px solid #323232;
            color: #323232 !important;
            width: 8rem;
        }

        .btn-negative:hover {
            color: #FFFFFF !important;
        }

        a.btn-disabled {
            pointer-events: none;
            color: #4b4b4b;
        }

        /* Navbar's setting */

        .bg-black-darker {
            background-color: #323232;
            color: #FFF;
        }

        .bg-black-light {
            background-color: #4b4b4b;
            color: #FFF;
        }
        
        a {
            text-decoration: none;
            color: #FFF !important;
        }

        .hover-bg-black-light:hover {
            background-color: #FFF !important;
            color: #323232 !important;
            font-weight: bold;
        }

        .navbar-col {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 64
        }

        .navbar-row {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 32
        }

        /* Main content */

        .content {
            margin-top: 4rem;
            margin-left: 16.666666%;
            z-index: 16
        }

         /* Modal */

        .modal-backdrop {
            display: none;
        }

        /* Table */

        .admin-row {
            color: #FFD700;
        }

        /* Pagination */

        .page-link {
            background-color: #323232;
        }

        .page-link:hover {
            background-color: #4b4b4b;
            color: #4b4b4b !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 bg-black-darker navbar-col">
                <div class="row align-content-center" style="height: 4rem;">
                    <a href="/Home" class="col text-center">
                        <span class="h5 mb-0">Themis Workshop</span>
                    </a>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column">
                        <div class="row">
                            <a href="/Expediente/ListarExpedientes/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                                    <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                                    <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                </svg>
                                <span class="ms-3">Expedientes</span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/Calendario" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                                </svg>
                                <span class="ms-3">Calendario</span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/Cita/ListarCitas/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z" />
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                </svg>
                                <span class="ms-3">Citas</span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/Tarea/ListarTareas/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z" />
                                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
                                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z" />
                                </svg>
                                <span class="ms-3">Tareas</span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/Consulta/ListarConsultas/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                </svg>
                                <span class="ms-3">Consultas</span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/Cliente/ListarClientes/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                </svg>
                                <span class="ms-3">Clientes</span>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                                    <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                    <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                                </svg>
                                <span class="ms-3">Facturas</span>
                            </div>
                        </div>
                        <div class="row">
                            <a href="/Empleado/ListarEmpleados/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                                </svg>
                                <span class="ms-3">Empleados</span>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/Servicio/ListarServicios/1" class="col d-flex align-items-center hover-bg-black-light ms-2" style="height: 3rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                                    <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z" />
                                </svg>
                                <span class="ms-3">Servicios</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col content">
                <div class="row align-content-center bg-black-light fixed-top" style="height: 4rem;">
                    <div class="col-2">
                        <!-- Navbar space -->
                    </div>
                    <div class="col">
                        <span class="h1 ms-3" id="title">HOME_TEXT</span>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-end me-3">
                        <span class="me-3">Username</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFF" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container-flex">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var titleElement = document.getElementById("title");
        var titleValue = "@ViewData["Title"]";
        titleElement.innerHTML = titleValue;
    </script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
