@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Iniciar Sesión";

    Layout = null;

}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThemisWorkshop.styles.css" asp-append-version="true" />

    <style>

        /* Font */

        body {
            color: #323232 !important;
            background-color: #FAFAFA;
            background-image: url("https://www.undp.org/sites/g/files/zskgke326/files/migration/sv/figure-justice-holding-scales-sword.jpg");
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }

        /* Buttons */

        .btn-positive {
            background-color: #323232;
            color: #FFFFFF !important;
            width: 8rem;
        }

        .btn-positive:hover {
            color: #323232 !important;
        }

        .btn-positive-twice {
            background-color: #323232;
            color: #FFFFFF !important;
            width: 16rem;
        }

        .btn-positive-twice:hover {
            color: #323232 !important;
        }

        .btn-positive-free {
            background-color: #323232;
            color: #FFFFFF !important;
            width: 100%;
        }

            .btn-positive-free:hover {
            color: #323232 !important;
        }

        .btn-negative {
            border: none;
            outline-offset: -2px;
            outline: 2px solid #323232;
            color: #323232 !important;
            width: 8rem;
        }

        .btn-negative:hover {
            color: #FFFFFF !important;
        }

        a.btn-disabled {
            pointer-events: none;
            color: #4b4b4b;
        }

        /* Navbar's setting */

        .bg-black-dark {
            background-color: #323232;
            color: #FFF;
        }

        .bg-black-light {
            background-color: #4B4B4B;
            color: #FFF;
        }
        
        a {
            text-decoration: none;
            color: #FFF !important;
        }

        .hover-to-bg-black-light:hover {
            background-color: #FFF !important;
            color: #323232 !important;
            font-weight: bold;
        }

        .navbar-height-3 {
            height: 3rem;
        }

        .navbar-height-4 {
            height: 4rem;
        }

        .fixed-navbar {
            position: fixed;
            top: 0;
            bottom: 0;
        }

        .navbar-shown {
            width: 12rem;
        }

        .navbar-hidden {
            width: 4rem;
        }
            
        .fixed-topbar-shown {
            position: fixed;
            top: 0;
            padding-left: 12rem;
        }

        .fixed-topbar-hidden {
            position: fixed;
            top: 0;
            padding-left: 4rem;
        }

        .content-shown {
            padding-left: 12rem;
            padding-top: 4rem;
        }

        .content-hidden {
            padding-left: 4rem;
            padding-top: 4rem;
        }

        .hidden {
            display: none;
        }

        #topbar {
            z-index: 1;
        }

        #navbar {
            z-index: 1;
        }

         /* Modal */

        .modal-backdrop {
            display: none;
        }

        /* Pagination */

        .page-link {
            background-color: #323232;
        }

        .page-link:hover {
            background-color: #4b4b4b;
            color: #4b4b4b !important;
        }

        /* Colors */

        .pink{
            color: #E4ADC8;
        }

        .red {
            color: #FF6663;
        }

        .yellow {
            color: #FDFD97;
        }

        .orange {
            color: #EAB892;
        }

        .green {
            color: #9EE09E;
        }

        .blue {
            color: #B4D2E4;
        }

        .grey {
            color: #C7C1B7;
        }

        .grey-2 {
            color: #A3A2A5;
        }

    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card" style="width: 32rem;">
            <div class="card-body">
                <form asp-controller="Sesion" asp-action="Auth" method="post">
                    <div class="row m-0">
                        <div class="col-auto fw-bold">
                            <p class="m-0">Iniciar Sesión:</p>
                        </div>
                    </div>
                    <div class="row m-0 g-3 align-items-center">
                        <div class="col">
                            <div class="form-floating">
                                <input required type="text" class="form-control" id="usuario" placeholder="usuario" value="" name="user" maxlength="50">
                                <label for="usuario">Usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 g-3 align-items-center">
                        <div class="col">
                            <div class="form-floating">
                                <input required type="password" class="form-control" id="password" placeholder="password" value="" name="pass" maxlength="50">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 g-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="recordarUsuario" name="recordarUsuario">
                                <label class="form-check-label" for="recordarUsuario">
                                    Mantenerme conectado
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 g-3">
                        <div class="col text-center">
                            <button class="btn btn-positive-free" type="submit" role="button">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>