@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Iniciar Sesión";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .content {
            position: fixed;
            top: 0;
            left: 0;
        }

        #navbar {
            display: none;
        }

        #topbar {
            display: none;
        }

        .content-shown {
            padding-left: 0;
            padding-top: 0;
        }

        .content-hidden {
            padding-left: 0;
            padding-top: 0;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card" style="width: 32rem;">
            <div class="card-body">
                <form asp-controller="Sesion" asp-action="Auth" method="post">
                    <div class="row m-0">
                        <div class="col-auto fw-bold">
                            <p class="m-0">Iniciar Sesión:</p>
                        </div>
                    </div>
                    <div class="row m-0 g-3 align-items-center">
                        <div class="col">
                            <div class="form-floating">
                                <input required type="text" class="form-control" id="usuario" placeholder="usuario" value="" name="user" maxlength="50">
                                <label for="usuario">Usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 g-3 align-items-center">
                        <div class="col">
                            <div class="form-floating">
                                <input required type="password" class="form-control" id="password" placeholder="password" value="" name="pass" maxlength="50">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 g-3">
                        <div class="col text-center">
                            <a class="btn btn-positive-free" href="/Home" role="button">Ingresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>