@{
    ViewData["Title"] = "Categoria no encontrada";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Categoria no encontrada <a href="/Categoria/ListarCategorias/1">Volver a la lista de categorias</a></h1>
</body>
</html>
