@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ThemisWorkshop.Controllers;
    ViewData["Title"] = "Agregar/Modificar Factura";
    @model FacturaViewModel
    ViewData["Title"] = "Registrar Factura";
    var cliente = 0;

    if (Model.IdConsulta == -1)
    {
        List<Expediente> expedientes = FacturaController._temp.Expediente.ToList();
        var expediente = expedientes.Where(e => e.IdExpediente == Model.IdExpediente).FirstOrDefault();
        cliente = expediente.IdCliente;
    }
    else
    {
        List<Consulta> consultas = FacturaController._temp.Consulta.ToList();
        var consulta = consultas.Where(e => e.IdConsulta == Model.IdConsulta).FirstOrDefault();

        List<Cita> citas = FacturaController._temp.Cita.ToList();

        var cita = citas.Where(e => e.IdCita == consulta.IdCita).FirstOrDefault();
        cliente = cita.IdCliente;
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form asp-controller="Factura" asp-action="AddFactura" method="post">
        <input type="hidden" value="@Model.IdExpediente" name="idExpediente">
        <input type="hidden" value="@cliente" name="idCliente">
        <div class="row m-0 g-3">
            <div class="col-auto fw-bold">
                <p class="m-0">Información General:</p>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input required type="number" class="form-control" id="costo" placeholder="costo" value="" name="costo" maxlength="100" step="0.01">
                    <label for="costo">Costo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input disabled type="date" class="form-control" id="fechaEmision" placeholder="fechaEmision" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fechaEmision" timezone="-240">
                    <label for="fechaEmision">Fecha de Emisión</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col-auto fw-bold">
                <p class="m-0">Detalles del Pago:</p>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input required type="number" class="form-control" id="montoVariable" placeholder="montoVariable" value="" name="montoVariable" maxlength="100" step="0.01">
                    <label for="montoVariable">Monto Variable</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input required type="date" class="form-control" id="fechaLimite" placeholder="fechaLimite" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fechaLimite" timezone="-240">
                    <label for="fechaLimite">Fecha Límite</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="esCredito" name="esCredito">
                        <option selected value="0">Contado</option>
                        <option value="1">Crédito</option>
                    </select>
                    <label for="esCredito">Método de Pago</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="input-group d-flex justify-content-end">
                    @if (Model.IdConsulta == -1)
                    {
                        <a href="/Expediente/ListarExpedientes/1" class="btn btn-negative">Cancelar</a>
                    }
                    else
                    {
                        <a href="/Consulta/ListarConsultas/1" class="btn btn-negative">Cancelar</a>   
                    }
                    <button type="submit" class="btn btn-positive">Registrar</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>