@{
    ViewData["Title"] = "Servicio ya Facturado";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Servicio ya facturado <a href="/Factura/ListarFacturas/1">Volver a la lista de facturas</a></h1>
</body>
</html>
