@{
    ViewData["Title"] = "Tarea no encontrada";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Cliente no encontrado <a href="/Calendario">Volver al calendario</a></h1>
</body>
</html>
